<section id="framer" class="">
  <section>
    <h2>Flinto</h2>
  </section>
  
  <section>
      <h3>Features</h3>
      <ul>
          <li>Permite hacer animaciones y flujos de navegación</li>
          <li>Viewer y exportación de prototipos</li>
          <li>Plugin de Sketch</li>
      </ul>
      
  </section>
  
  <section>
      <h3>Pros</h3>
      <ul class="fz-m">
        <li>Fácil y rápida comunicación con Sketch (plugin)</li>
        <li>Documentación y tutoriales</li>
        <li>Elementos reusables</li>
        <li>Fácil de aprender / intuitivo</li>
      </ul>
  </section>

  <section>
      <h3>Contras</h3>
      <ul class="fz-m">
        <li>No sirve para prototipos muy complejos</li>
      </ul>
  </section>

    <section>
      <h3>¿Para qúe nos puede servir?</h3>
      <ul class="fz-m">
        <li>Prototipar de manera rápida</li>
        <li>Transiciones y animaciones para componentes</li>
      </ul>
  </section>  
</section>
