<section id="framer" class="">
  <section>
    <h2>Framer</h2>
  </section>
  
  <section>
      <h3>Features</h3>
  </section>
  
  <section>
      <h3>Pros</h3>
      <ul class="fz-m">
        <li>Permite animaciones e interactividad compleja</li>
        <li>Al ser código, permite iterar rápido.</li>
        <li>Trabaja bien con Sketch</li>
        <li>Ampliable con plugins</li>
        <li>Buena documentación y comunidad</li>
        <li>Permite reaprovechar código (hasta cierto punto)</li>
        <li>Es javascipt</li>
      </ul>
  </section>

  <section>
      <h3>Contras</h3>
      <ul class="fz-m">
        <li>Un poco lento hasta que se le coge la mano.</li>
        <li>Curva de aprendizaje medio-alta.</li>
        <li>Es coffescript</li>
      </ul>
  </section>

    <section>
      <h3>¿Para qúe nos puede servir?</h3>
      <ul class="fz-m">
        <li>Prototipos con cierta complejidad en interacción</li>
        <li>Se pueden crear flujos de navegación si se combina con <a href="https://github.com/awt2542/ViewController-for-Framer">View Controller</a></li>
      </ul>
  </section>  
</section>
