$c-grayLightest: #fff;
$c-grayLighter: #ddd;
$c-grayLight: #ccc;
$c-gray: #999;
$c-grayDark: #666;
$c-grayDarker: #333;

$c-red: #921E00;
$c-orange: #e14f24;
$c-yellow: #ffc50d;
$c-green: #82af13;
$c-cyan: #88b9e4;
$c-blue: #7ea9c3;
$c-blueDark: #5698c1;
$c-purple: #b394c7;

$ff-roboto-slab: 'Roboto Slab', sans-serif;
$ff-roboto: 'Roboto', sans-serif;
